@import url("fonts.css");
@import url("syntax.css");

@import url("theme.css");

@import url("responsive.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "I.Ming", "Microsoft YaHei", sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  color: var(--color-text);
  background-color: var(--color-base);
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: var(--color-lavender);
}

::selection {
  background-color: var(--color-surface1);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-surface2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-overlay0);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-overlay2);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-base);
}

header {
  background-color: var(--color-header);
  padding: 1em 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: top 500ms;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 36em;
}

.site-brand {
  font-size: 1.5em;
}

.nav {
  font-size: 0.8em;
  color: var(--color-subtext0);
}
.menu-item {
  display: inline-block;
  margin-left: 0.5em;
}

.footer {
  font-size: 85%;
  text-align: center;
  color: var(--color-overlay0);
  padding: 1em;
}

.socials-item {
  display: inline-block;
  margin: 0.2em;
}
.socials-icon {
  font-size: 2em;
}

main {
  display: block;
  padding: 7em 1em;
}

.main-inner {
  width: 36em;
  margin: 0 auto;
  display: block;
}

/* article {
  width: 36em;
  margin: 0 auto;
  display: block;
} */

.page-title {
  text-align: center;
  font-size: 2em;
  margin: 0.5em 0 1.5em;
}

.post-list {
  list-style-type: none;
}

.post-item {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.post-item-date {
  color: var(--color-surface2);
  font-family: "Fira Code", sans-serif;
}

.post-item-title {
  color: var(--color-text);
}

.post-item-title:hover {
  color: var(--color-blue);
}

.tag-item {
  display: inline-block;
  color: var(--color-text);
  background-color: var(--color-tag);
  font-size: 0.8rem;
  padding: 0.05rem 0.3rem;
  border-radius: 0.5rem;
  transition: all 300ms;
}

.tag-item:hover {
  color: var(--color-tagfg, var(--color-lavender));
  background-color: var(--color-tagbg, var(--color-tag));
}
.tag-item a {
  color: inherit;
  transition: 50ms;
}

/* tags/list */
.term-list {
  line-height: 1.5;
}
.term-list li::marker {
  color: var(--color-overlay2);
}
.term-list .term-count {
  color: var(--color-surface2);
}

.tag-cloud {
  text-align: center;
}
.tag-cloud-item {
  margin: 0.5rem;
  display: inline-block;
}

/* 404 page */
.page-not-found {
  text-align: center;
  padding: 8em 0;
}
.poetry-line {
  font-size: 1.5em;
  line-height: 2;
}

.post-title {
  margin: 0.5em 0;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  font-size: 0.8em;
  color: var(--color-overlay2);
}

/* markdown */
.post-content {
  margin: 5em 0;
}

.post-content h1 {
  color: var(--color-h, var(--color-text));
  margin: 1.5em 0;
}
.post-content h2 {
  color: var(--color-h, var(--color-text));
  margin: 1em 0;
  position: relative;
}
.post-content h2::before {
  content: "#";
  color: var(--color-surface0);
  position: absolute;
  left: -1em;
  font-weight: bold;
}

.post-content h3 {
  color: var(--color-h, var(--color-text));
  margin: 0.7em 0;
  position: relative;
}

.post-content h4 {
  color: var(--color-h, var(--color-text));
  margin: 0.5em 0;
}
.post-content p {
  margin: 1em 0;
  line-height: 1.5;
  text-align: justify;
}
.post-content ol,
.post-content ul {
  padding-left: 2em;
  line-height: 2;
}
.post-content li::marker {
  color: var(--color-li, var(--color-overlay2));
}
.post-content a {
  color: var(--color-link, var(--color-text));
  text-decoration: underline;
  text-decoration-color: var(--color-link, var(--color-overlay0));
}
.post-content a:hover {
  color: var(--color-link, var(--color-lavender));
  text-decoration-color: var(--color-link, var(--color-lavender));
}
.post-content del {
  color: var(--color-overlay0);
}

.post-content code {
  color: var(--color-code, var(--color-subtext0));
  font-family: "Fira Code", "I.Ming", monospace;
  background-color: var(--color-pre);
  padding: 0.05em 0.1em;
}

.post-content pre {
  background-color: var(--color-pre) !important;
  padding: 1rem;
  overflow: auto;
  word-wrap: normal;
  font-size: 0.9em;
}
.post-content pre[data-linenos] {
  padding: 1rem 0;
}
.post-content pre table {
  width: 100%;
  border-collapse: collapse;
}
.post-content pre table td {
  padding: 0;
}
.post-content pre table td:nth-of-type(1) {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.post-content pre mark {
  display: block;
}
.post-content pre code {
  font-family: "Fira Code", monospace;
  display: block;
  color: var(--color-text);
  background-color: inherit;
  padding: 0;
}

.post-content blockquote {
  border-left: 0.2em solid var(--color-quote, var(--color-surface0));
  color: var(--color-overlay2);
  padding-left: 0.5em;
}
.post-content hr {
  border: none;
  text-align: center;
  margin: 1em 0;
}
.post-content hr::after {
  content: "···";
  color: var(--color-hr);
  letter-spacing: 2em;
  padding-left: 2em;
}

.post-content img {
  object-fit: cover;
  width: 100%;
}

.footnote-definition {
  display: flex;
}
.footnote-definition-label {
  vertical-align: text-bottom;
  margin: 1em 0;
  font-size: inherit;
}
.footnote-definition-label::after {
  content: ".";
}
