{% macro basic_meta() %}
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="index,follow"/>
<meta name="googlebot" content="index,follow"/>
<meta name="google" content="nositelinkssearchbox"/>
<meta name="google" content="notranslate"/>
{% endmacro %}

{% macro page_meta() %}
{% if config.description %}
  {% if page.content %}
  <meta name="description" content="{{ page.content | truncate(length=180) | striptags | safe }}">
  {% else %}
  <meta name="description" content="{{ config.description | truncate(length=150) | striptags | safe }}">
  {% endif %}
{% endif %}
{% endmacro %}

{% macro style() %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ichitenfont/I.MingWebfont/index.css"/>
<link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) | safe }}"/>
{% endmacro %}

{% macro title() %}
<title>{{ config.title }}</title>
{% endmacro %}
