:root {
  --color-rosewater: 220, 138, 120;
  --color-flamingo: 221, 120, 120;
  --color-pink: 234, 118, 203;
  --color-mauve: 136, 57, 239;
  --color-red: 210, 15, 57;
  --color-maroon: 230, 69, 83;
  --color-peach: 254, 100, 11;
  --color-yellow: 223, 142, 29;
  --color-green: 64, 160, 43;
  --color-teal: 23, 146, 153;
  --color-sky: 4, 165, 229;
  --color-sapphire: 32, 159, 181;
  --color-blue: 30, 102, 245;
  --color-lavender: 114, 135, 253;
  --color-text: 76, 79, 105;
  --color-subtext1: 92, 95, 119;
  --color-subtext0: 108, 111, 133;
  --color-overlay2: 124, 127, 147;
  --color-overlay1: 140, 143, 161;
  --color-overlay0: 156, 160, 176;
  --color-surface2: 172, 176, 190;
  --color-surface1: 188, 192, 204;
  --color-surface0: 204, 208, 218;
  --color-base: 239, 241, 245;
  --color-mantle: 230, 233, 239;
  --color-crust: 220, 224, 232;

  --color-header: var(--color-crust);
  --color-pre: var(--color-crust);
  --color-tag: var(--color-crust);
}

:root[data-theme="dark"] {
  --color-rosewater: 245, 224, 220;
  --color-flamingo: 242, 205, 205;
  --color-pink: 245, 194, 231;
  --color-mauve: 203, 166, 247;
  --color-red: 243, 139, 168;
  --color-maroon: 235, 160, 172;
  --color-peach: 250, 179, 135;
  --color-yellow: 249, 226, 175;
  --color-green: 166, 227, 161;
  --color-teal: 148, 226, 213;
  --color-sky: 137, 220, 235;
  --color-sapphire: 116, 199, 236;
  --color-blue: 137, 180, 250;
  --color-lavender: 180, 190, 254;
  --color-text: 205, 214, 244;
  --color-subtext1: 186, 194, 222;
  --color-subtext0: 166, 173, 200;
  --color-overlay2: 147, 153, 178;
  --color-overlay1: 127, 132, 156;
  --color-overlay0: 108, 112, 134;
  --color-surface2: 88, 91, 112;
  --color-surface1: 69, 71, 90;
  --color-surface0: 49, 50, 68;
  --color-base: 30, 30, 46;
  --color-mantle: 24, 24, 37;
  --color-crust: 17, 17, 27;

  --color-header: var(--color-mantle);
  --color-pre: var(--color-surface0);
  --color-tag: var(--color-surface1);
}

:root[data-colormode="colorful"] {
  --color-h: var(--color-lavender);
  --color-li: var(--color-sky);
  --color-quote: var(--color-sapphire);
  --color-hr: var(--color-blue);
  --color-link: var(--color-blue);
  --color-code: var(--color-pink);
  --color-tagbg: var(--color-teal);
  --color-tagfg: var(--color-base);
}

#theme-switcher-dark {
  display: none;
}
