.post-title {
  margin: 0.5em 0;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  font-size: 0.8em;
  color: rgb(var(--color-overlay2));
}

/* markdown */
.post-content {
  margin: 5em 0;
}

.post-content h1 {
  color: rgb(var(--color-h));
  margin: 1.5em 0;
}
.post-content h2 {
  color: rgb(var(--color-h));
  margin: 1em 0;
  position: relative;
}
.post-content h2::before {
  content: "#";
  color: rgb(var(--color-surface0));
  position: absolute;
  left: -1em;
  font-weight: bold;
}

.post-content h3 {
  color: rgb(var(--color-h));
  margin: 0.7em 0;
  position: relative;
}

.post-content h4 {
  color: rgb(var(--color-h));
  margin: 0.5em 0;
}
.post-content p {
  margin: 1em 0;
  line-height: 1.5;
  text-align: justify;
}
.post-content ol,
.post-content ul {
  padding-left: 2em;
  line-height: 2;
}
.post-content li::marker {
  color: rgb(var(--color-li));
}
.post-content a {
  color: rgb(var(--color-link));
  text-decoration: underline;
  text-decoration-color: rgb(var(--color-link));
}
.post-content a:hover {
  color: rgb(var(--color-link));
  text-decoration-color: rgb(var(--color-link));
}
.post-content del {
  color: rgb(var(--color-overlay0));
}

.post-content code {
  color: rgb(var(--color-code));
  font-family: "Fira Code", "I.Ming", monospace;
  background-color: rgb(var(--color-pre));
  padding: 0.05em 0.1em;
}

.post-content pre {
  background-color: rgb(var(--color-pre)) !important;
  padding: 1rem;
  overflow: auto;
  word-wrap: normal;
  font-size: 0.9em;
}
.post-content pre[data-linenos] {
  padding: 1rem 0;
}
.post-content pre table {
  width: 100%;
  border-collapse: collapse;
}
.post-content pre table td {
  padding: 0;
}
.post-content pre table td:nth-of-type(1) {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.post-content pre mark {
  display: block;
}
.post-content pre code {
  font-family: "Fira Code", monospace;
  display: block;
  color: rgb(var(--color-text));
  background-color: inherit;
  padding: 0;
}

.post-content blockquote {
  border-left: 0.2em solid rgb(var(--color-quote));
  color: rgb(var(--color-overlay2));
  padding-left: 0.5em;
}
.post-content hr {
  border: none;
  text-align: center;
  margin: 1em 0;
}
.post-content hr::after {
  content: "···";
  color: rgb(var(--color-hr));
  letter-spacing: 2em;
  padding-left: 2em;
}

.post-content img {
  object-fit: cover;
  width: 100%;
}