{%- import "macros/head.html" as head -%}
{%- import "macros/layout.html" as layout -%}
<!DOCTYPE html>
<html lang="{{ lang }}" data-colormode="{{config.extra.colormode}}">
  <head>
    {%- block basic_meta -%}
      {{ head::basic_meta() }}
    {%- endblock -%}
    {%- block style -%}
      {{ head::style() }}
    {%- endblock -%}
    {%- block title -%}
      {{ head::title() }}
    {%- endblock -%}
    {%- block head_js -%}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    {%- endblock -%}
  </head>
  <body>
    {% block header %}
      {{ layout::header() }}
    {% endblock %}
    <main class="main">
      {% block main %} {% endblock %}
    </main>
    {% block footer %}
      {{ layout::footer() }}
    {% endblock %}
  </body>

  {% block js %}
  <script src="{{ get_url(path='js/cattery.js', trailing_slash=false) | safe }}"/></script>
  {% endblock js %}
</html>
